body{
    width: 100vw;
    overflow: hidden;
}
button{
    color: black;
    background-color: rgb(167, 233, 213);
    border: solid 2px rgb(0, 0, 0);
    border-radius: 10px;
    padding: 10px;
}
.blanc{
    background-color: #F2EFEA;

}
.orange{
    background-color: #FF6700;
}
.noir{
    background-color: #020202;
    color: white;
}
.bleu{
    background-color: #6699CC;
}

.vert{
    background-color: #16DB65;
}