body{
    width: 100vw;
    overflow: hidden;
}
button{
    color: black;
    background-color: rgb(167, 233, 213);
    border: solid 2px rgb(0, 0, 0);
    border-radius: 10px;
    padding: 10px;
}
.blanc{
    background-color: aliceblue;

}
.rouge{
    background-color: rgb(255, 167, 167);
}
.noir{
    background-color: black;
    color: white;
}